@import 'theme.css';


.wy-nav-content {
    max-width: 100%;
}

div.document {
    max-width: 1000px;
}

code.py.docutils {
    color: #3080B9;
}

.wy-menu-vertical li.current > a span.toctree-expand, .wy-menu-vertical li.on a span.toctree-expand {
    font-size: 1.2em;
    line-height: 1.1em;
    margin-left: -1em;
}

.wy-menu-vertical li span.toctree-expand {
    font-size: 1.2em;
    line-height: 1.1em;
    margin-left: -1em;
}