################################################################################
# Copyright (c) 2021 ContinualAI.                                              #
# Copyrights licensed under the MIT License.                                   #
# See the accompanying LICENSE file for terms.                                 #
#                                                                              #
# Date: 15-07-2021                                                             #
# Author(s): Gabriele Graffieti                                                #
# E-mail: contact@continualai.org                                              #
# Website: avalanche.continualai.org                                           #
################################################################################

name: environment update

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/environment-update.yml'
      - 'environment.yml'
  schedule:
    - cron: '0 0 * * 0'  # midnight of every sunday


jobs:
  environment-creation:
    if: github.repository == 'ContinualAI/avalanche'
    name: new environment creation
    runs-on: ubuntu-latest
    container:
      image: continuumio/anaconda3:latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.6", "3.7", "3.8", "3.9"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: install opencv dependency libs
        run: |
          apt-get update
          apt-get install ffmpeg libsm6 libxext6  -y
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: install conda environment
        run: |
          conda create -n avalanche-env python=${{ matrix.python-version }} -c conda-forge
          conda activate avalanche-env
          conda install pytorch torchvision cpuonly -c pytorch  -y
          conda env update --file environment.yml
      - name: python unit test
        id: unittest
        run: |
          conda activate avalanche-env
          FAST_TEST=True USE_GPU=False python -m unittest

      - name: checkout avalanche-docker repo
        if: always()
        uses: actions/checkout@v2
        with:
          repository: 'ContinualAI/avalanche-docker'
          ref: master
          path: 'avalanche-docker'
          token: ${{ secrets.BOT_TOKEN }}
      - name: test failure
        if: failure()
        run: |
          conda activate avalanche-env
          conda env export > failed-environment.yml
          diff avalanche-docker/${{ matrix.python-version }}/environment-${{ matrix.python-version }}.yml failed-environment.yml > diff_fail.txt
      - name: test failure - open an issue
        if: failure()
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.BOT_TOKEN }}
          script: |
            var title = "Creation of a new envirnment failed for python " + ${{ matrix.python-version }}
            var message = "Here are the differences between the last working environment and the new one that I tried to run:\n\n```\n"
            var fs = require("fs");
            var diff = fs.readFileSync("diff_fail.txt", "utf-8");
            var text_complete = message.concat(diff, "\n```")
            github.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: title,
              body: text_complete,
              labels: ['Continuous integration', 'test']
            })
      - name: test success
        if: success()
        run: |
          conda activate avalanche-env
          rm -f avalanche-docker/${{ matrix.python-version }}/environment-${{ matrix.python-version }}.yml
          conda env export > $"avalanche-docker/"${{ matrix.python-version }}"/environment-"${{ matrix.python-version }}".yml"
          cd avalanche-docker
          git config --local user.email ${{ secrets.BOT_EMAIL }}
          git config --local user.name ${{ secrets.BOT_NAME }}
          git pull
          git add .
          git commit -m $"Update environment with python "${{ matrix.python-version }} -a || true
          git pull
      - name: Push changes to avalanche-docker
        if: success()
        continue-on-error: true
        uses: ad-m/github-push-action@master
        with:
          repository: ContinualAI/avalanche-docker
          branch: master
          directory: avalanche-docker
          github_token: ${{ secrets.BOT_TOKEN }}
