################################################################################
# Copyright (c) 2021 ContinualAI.                                              #
# Copyrights licensed under the MIT License.                                   #
# See the accompanying LICENSE file for terms.                                 #
#                                                                              #
# Date: 15-07-2021                                                             #
# Author(s): Gabriele Graffieti                                                #
# E-mail: contact@continualai.org                                              #
# Website: avalanche.continualai.org                                           #
################################################################################

name: unit test

on:
  push:
    branches:
      - master
      - detection
    paths:
      - '**.py'
      - '.github/workflows/unit-test.yml'
      - 'environment.yml'
  pull_request:
    branches:
      - master
      - detection
    paths:
      - '**.py'
      - '.github/workflows/unit-test.yml'
      - 'environment.yml'

jobs:
  unit-test:
    name: unit test
    runs-on: ubuntu-latest
    container:
      image: continualai/avalanche-test-${{ matrix.python-version }}:latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.6", "3.7", "3.8", "3.9"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: python unit test
        id: unittest
        run: |
          conda activate avalanche-env
          FAST_TEST=True USE_GPU=False python -m unittest
